*{
    margin: 0;
    padding: 0;
}
body{
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit',sans-serif;
}
h2{
    font-family: 'Outfit',sans-serif;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.second{
    margin-bottom: 12px;
}
.wrapper{
    background-color: #fff;
    border-radius: 7px;
    width: 350px;
    height: 480px;
    margin-top: 13vh;
    
}
img{
    width: 310px;
    height: 290px;
    border-radius: 7px;
    
}
.box1{
    display: flex;
    justify-content: center;
    margin: 15px 0 20px;
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}